# Mandatory

export KUBECONFIG=/path/to/kubernetes.kubeconfig
export KUBECONFIG_KCP=/path/to/kcp/admin.kubeconfig
export NODE_EXTRA_CA_CERTS=/src/github.com/platform-mesh/helm-charts/local-setup/scripts/certs/root-ca.crt

# OIDC DEFAULT LOCAL-SETUP
export OIDC_CLIENT_ID_DEFAULT=welcome
export BASE_DOMAINS_DEFAULT=localhost
export KCP_URL=https://localhost:8443
export DISCOVERY_ENDPOINT='https://portal.localhost:8443/keycloak/realms/${org-name}/.well-known/openid-configuration'

# API
# CONTENT_CONFIGURATION_VALIDATOR_API_URL=https://portal.localhost:8443/validate

# Portal Context
export OPENMFP_PORTAL_CONTEXT_CRD_GATEWAY_API_URL='https://${org-subdomain}portal.localhost:8443/gateway/api/clusters/root:orgs:${org-name}/graphql'
export OPENMFP_PORTAL_CONTEXT_IAM_SERVICE_API_URL='https://${org-subdomain}portal.localhost:8443/iam/graphql'

# Optional
export DEVELOPMENT_INSTANCE=true
export ENVIRONMENT='local'
export PORT='3000'
export VALID_WEBCOMPONENT_URLS=".?"
export FEATURE_TOGGLES="genericUI=true,terminal=true"
export UI_OPTIONS='enableFeatureToggleSetting'
