# Mandatory

## IDPS
IDP_NAMES=platform-mesh

## OIDC
BASE_DOMAINS_PLATFORM_MESH=localhost
OIDC_CLIENT_ID_PLATFORM_MESH=
OIDC_CLIENT_SECRET_PLATFORM_MESH=
DISCOVERY_ENDPOINT_PLATFORM_MESH=https://auth.d1.platform-mesh.your.domain/realms/master/.well-known/openid-configuration

# Optional

ENVIRONMENT='local'
